# Base de datos para docker-compose
POSTGRES_DB=systeam
POSTGRES_USER=postgres
POSTGRES_PASSWORD=TU_PASSWORD_AQUI

# JWT
APP_SECURITY_JWT_SECRET=TU_JWT_SECRET_AQUI_MINIMO_32_CARACTERES
APP_SECURITY_JWT_EXPIRATION_MS=3600000

# Config opcional
APP_SQL_SHOW=true

# Para correr backend local sin docker (opcional)
SPRING_DATASOURCE_URL=jdbc:postgresql://HOST:PORT/DATABASE
SPRING_DATASOURCE_USERNAME=TU_USERNAME_AQUI
SPRING_DATASOURCE_PASSWORD=TU_PASSWORD_AQUI
